<h1>Blockchains</h1>
<p>{{results}}</p>

<table border ="1">
	<thead>
		{{#each data}}
			<tr>
				<td>
					<a href="/{{this.name}}">{{this.name}}
					</a>
				</td>
			</tr>
		{{/each}}
	</thead>
</table>

<p>
	<h4>
		<a href="/consensus">
			Consensus Algorithms 
		</a>
	</h4>
</p>

